In [34]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [35]:
df = pd.read_csv('Data.csv')
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [46]:
df.iloc[:,3:4]

  Purchased
0       Yes
1       Yes
2       NaN
3        No
4       Yes
5       Yes
6        No
7       Yes
8        No
9       Yes

In [37]:
imputer = SimpleImputer(missing_values=np.nan, strategy = 'most_frequent')
imputer.fit(df)
x = imputer.transform(df)
print(x)

[['France' 44.0 72000.0 'Yes']
 ['Spain' 27.0 48000.0 'Yes']
 ['France' 30.0 54000.0 'Yes']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 48000.0 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' 27.0 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]

filling null values of only Country column with the most frequent occuring valuse

In [45]:

imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(df.iloc[:,0:1].values)
x = imputer.transform(df.iloc[:,0:1].values)
df.iloc[:,0:1] = x
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2   France  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [47]:
imputer=SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(df.iloc[:,3:4].values)
x = imputer.transform(df.iloc[:,3:4].values)
df.iloc[:,3:4] = x
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2   France  30.0  54000.0       Yes
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes